.bg-color-pattern {
  width: 200px;
  height: 400px;
  border-radius: 50%;
  background-color: rgba(218, 117, 117, 0.74);
  filter: blur(170px);
  z-index: -1;
  top: 50%;
  left: 0;
  transform: translateX(-50%);
  position: absolute;
  margin-left: -500px;
}
.bg-color-pattern1 {
  width: 400px;
  height: 500px;
  border-radius: 50%;
  background-color: rgba(60, 73, 189, 0.5);
  filter: blur(150px);
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  margin-top: -200px;
}
.bg-color-pattern2 {
  width: 200px;
  height: 400px;
  border-radius: 50%;
  background-color: #28f01694;
  filter: blur(150px);
  z-index: -1;
  top: 0;
  left: 100%;
  transform: translateX(-50%);
  position: absolute;
  margin-right: 0;
}
